{{>layouts/header}}
{{#article}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h2 class="card-title">제목 : {{title}}</h2>
            <h6 class="card-subtitle mb-2 text-muted">id : {{id}}</h6>
            <br>
            <h4 class="card-text">{{content}}</h4>
        </div>
    </div>
    <br/>
    <a href="/articles/edit/{{id}}" class="btn btn-primary">수정</a>
    <a href="/articles/list" class="btn btn-success">홈으로</a>
    <br/><br/>
    <form action="/articles/{{id}}/comment" method="post">
        <div class="mb-3">
            <label for="comment" class="form-label">댓글 : </label>
            <input type="text" name="comment">
            <button type="submit" class="btn btn-warning">댓글 등록</button>
        </div>
    </form>
    <h3>댓글 리스트</h3>
    {{#comments}}
        <ul>
            <li>{{comment}}</li>
            <a href="/articles/comment/{{id}}/delete">댓글 삭제</a>
        </ul>
    {{/comments}}
{{/article}}
{{>layouts/footer}}
<style>
    .btn{
        width: 100px;
        margin-right: 20px;
    }
</style>
