{{>layouts/header}}
{{#article}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h2 class="card-title">제목 : {{title}}</h2>
            <h6 class="card-subtitle mb-2 text-muted">id : {{id}}</h6>
            <br>
            <h4 class="card-text">{{content}}</h4>
        </div>
    </div>
    <br/>
    <a href="/articles/edit/{{id}}" class="btn btn-primary">수정</a>
    <a href="/articles/list" class="btn btn-success">홈으로</a>
{{/article}}
{{>layouts/footer}}
<style>
    .btn{
        width: 80px;
        margin-right: 20px;
    }
</style>
